.rpouterCard {
    width: 100%;
    margin-top: 10%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
  }
  
  .rploginCard {
    border: 1px solid #dadce0;
    border-radius: 11px;
    width: 400px;
    height: 445px;
    //align-items: center;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    padding: 24px;
  }
  .rpfont1 {
    display: flex;
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
  }
  
  .rpfundooAlign {
    display: flex;
    justify-content: center;
  }
  .rpinput1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40px;
    margin-right: 2%;
   }
  
  .rpinput2 {
    margin-top: 5%;
    margin-right: 2%;
  }
  
  .rpbutton {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10%;
  }
    
  .resetbtn {
    display: flex;
    justify-content: space-around;
    padding: 15px 50px;
    background-color: rgb(39, 103, 206);
    border-color: #f1f4f8;
    font-size: 15px;
  }