@mixin  text($size,$width,$lign-height) {
    font-size: $size;
    font-weight: $width;
    line-height: $lign-height;
}
@mixin  color($color) {
    color: $color;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 390px;
    height: 450px;
    border: 1px #DADCE0 solid;
    border-radius: 10px;
    position: relative;
}
.fundoo{
    @include text(xx-large,640,1.5);
}
.f
{
    @include color(#4285F4);
}
.u
{
    @include color(#DB4437);
}
.n
{
    @include color(#F4B400);
}
.d
{    
    @include color (#4285F4);
}
.o
{
    @include color( #0F9D58);
}

.fundoo-text{
    @include text(17px,400,1.5);
    color: #202124;
    letter-spacing: .1px;
}
.sign-in{
    margin: 17px 0px;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    @include text(24px,400,1.3333);
}
.input{
    width: 340px;
    height: 25px;
    margin: 26px !important;
}
.create-account{
    position: absolute;
    bottom: 40px;
    left: 35px;
    font-weight: 500;
    color: #297CE9;
    cursor: pointer;
}
.login{
    position: absolute;
    bottom: 40px;
    right: 35px;
    width: 70px;
    height: 35px;
    border-radius: 4px;
    border: 0;
    font-size: 14px;
    font-weight: 550;
    color: #e7eaee;
    background-color: #1A73E8;
    outline: none;
}
.login:hover{
    background-color: #0d64ce;
} 