.outerCard {
  width: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  border: 1px solid #dadce0;
  border-radius: 11px;
  margin: auto;
  margin-top: 5%;
}
.fundooAlign {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  margin-top: 2%;
}
.Fcolor {
  color: rgb(66, 133, 244);
}
.font1 {
  margin-top: -5%;
  font-weight: bold;
  color: black;
  font-size: 50px;
}
.font2 {
  margin-top: -5%;
  color: black;
  font: 30px Arial, sans-serif;
}
.textFiled {
  margin-top: 2%;
}
.inputEmail {
  width: fit-content;
}
.inputPass {
  width: 100%;
  margin-top: 5%;
}
.textWidth {
  width: 90%;
}
.errorMessage {
  color: #e92a44;
}
.links {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  color: rgb(4, 4, 253);
}
.forgetText {
  flex-direction: row-reverse;
  margin-left: 20px;
}
.loginbtn {
  height: 40px;
  width: 50%;
  background-color: rgb(39, 103, 206);
  border-color: #dadce0;
  color: aliceblue;
  font-size: 20px;
}
// @media screen and (max-width: 600px) {
//   .loginCard {
//     border: none;
//   }
// }
