@mixin input($bottom, $top, $size) {
  margin-bottom: $bottom;
  margin-top: $top;
  font-size: $size;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-wrap: anywhere;
  text-align: left;
}

.notedisplay {
  width: 240px;
  min-height: 120px;
  border-radius: 8px;
  padding: 8px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.1);
}
.title-note {
  @include input(5px, 0px, large);
}
.description-note {
  @include input(0px, 5px, larger);
}
.note-position {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-flow: wrap;
}
.icon-div {
  width: 100%;
  height: 30px;
}
.icon {
  display: none;
}
.title-pinn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220px;
}
.pinn {
  width: 25px;
  cursor: pointer;
  display: none;
}
.notedisplay:hover .icon {
  display: block;
  color: #292a2b;
}
.notedisplay:hover .pinn {
  display: block;
}

.pin-unpin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pin {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .noteDisplay {
    width: 100%;
  }
}
