.outerCard {
  width: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  border: 1px solid #dadce0;
  border-radius: 11px;
  margin-top: 5%;
}

.InputPanel {
  //border: 1px solid #dadce0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //margin-top: 31px;
  height: 73px;
}

.Passwordfield {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.InputPanel1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.FontSerif {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(81, 94, 129);
}

.font {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-top: 26px;
}
.text {
  height: 5px;
  width: 20px;
}

.fundooTextAlign {
  display: flex;
  margin-top: 5%;
}

.Fcolor {
  font-size: xx-large;
  color: rgb(66, 133, 244);
}

.flex {
  display: flex;
  height: 44px;
}

.textSize {
  width: 100%;
  padding: 10px;
}

.emailFiled {
  width: 400px;
  padding: 10px;
  margin-top: 5%;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: flex;
}
.buttons {
  display: flex;
  margin-bottom: 5%;
  justify-content: space-between;
}

.links {
  margin-top: -5%;
  font-size: x-large;
  color: rgb(4, 4, 253);
}

.loginbtn {
  height: 40px;
  width: 50%;
  background-color: rgb(39, 103, 206);
  border-color: #dadce0;
  color: aliceblue;
  font-size: 20px;
}
//   /* ------------------ media Quiery ---------------------------- */

//   @media screen and (max-width: 640px) {
//     .RegistrationBody {
//       border: 0px;
//       display: flex;
//       flex-direction: column;
//       width: 100%;
//       justify-content: center;
//       align-items: center;
//       padding-top: 0px;
//       height: 640px;
//     }

//     .fundooTextAlign {
//       justify-content: center;
//     }

//     .font {
//       justify-content: center;
//     }

//     .InputPanel {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       height: 122px;
//     }

//     .InputPanel1 {
//       display: flex;
//       align-items: center;
//     }

//     .image {
//       display: none;
//     }

//     .textSize {
//       padding-bottom: 20px;
//       width: 100%;
//     }

//     .inputPanelBody {
//       margin-left: 72px;
//     }

//     .Passwordfield {
//       //border: 1px solid #dadce0;
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//     }

//     .reg-conf-pass {
//       padding-top: 22px;
//     }

//     .flex {
//       display: flex;
//       justify-content: center;
//     }

//     .Manipulation {
//       padding-right: 73px;
//     }
//   }
