.outerCard {
  width: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  border: 1px solid #dadce0;
  border-radius: 11px;
  margin-top: 5%;
}
@media (max-width: 768px) {
  .outerCard {
    width: 90%;
    height: 100%;
    margin-top: 5%;
  }
}

.textfield {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textFont {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 768px) {
  .textFont {
    margin-left: 10px;
    font-size: 15px;
  }
}

.emfield {
  display: flex;
}

.emailFiled {
  width: 410px;
  padding: 10px;
  margin-top: 5%;
}
@media (max-width: 768px) {
  .emailFiled {
    width: 50%;
    padding: 10px;
    margin-left: 20%;
    margin-top: 2%;
  }
}

.textSize {
  width: 89%;
  padding: 10px;
}
@media (max-width: 768px) {
  .textSize {
    width: 100%;
    padding: 10px;
    margin-left: 40%;
    margin-top: -5%;
  }
}

.textSize1 {
  width: 89%;
  padding: 10px;
}
@media (max-width: 768px) {
  .textSize1 {
    margin-left: -60%;
    margin-top: 30%;
    width: 100%;
  }
}

.text {
  height: 5px;
  width: 20px;
}

.fundooTextAlign {
  display: flex;
  margin-top: 5%;
}

.Fcolor {
  font-size: xx-large;
  color: rgb(66, 133, 244);
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: flex;
}

.buttons {
  display: flex;
  margin-bottom: 5%;
  margin-top: 10%;
  justify-content: space-between;
}

.links {
  font-size: x-large;
  color: rgb(4, 4, 253);
}
@media (max-width: 768px) {
  .links {
    margin-top: -10%;
    margin-left: 5%;
    font-size: x-large;
    color: rgb(4, 4, 253);
  }
}

.loginbtn {
  height: 40px;
  width: 50%;
  background-color: rgb(39, 103, 206);
  border: none;
  color: aliceblue;
  font-size: 20px;
}
@media (max-width: 768px) {
  .loginbtn {
    height: 30px;
    width: 40%;
    font-size: 15px;
    margin-top: -10px;
    margin-left: -90px;
    margin-right: 10px;
  }
}
