.note-display-div{
    margin-top: 50px;
    margin-left: 50px;
} 

.notes{
    border-radius: 20px;
    outline: none;
} 

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.profile-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
} 