.fpOuterdiv {
  width: 500px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 330px;
  border: 1px solid #dadce0;
  border-radius: 11px;
  margin: auto;
  margin-top: 5%;
}
@media (max-width: 768px) {
  .fpOuterdiv {
    width: 280px;
    margin-top: 20%;
    height: 300px;
  }
}

.fpFundooAlign {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.fpinput {
  width: 90%;
  padding: 2%;
  margin-left: 2%;
}
@media (max-width: 768px) {
  .fpinput {
    margin-left: 1%;
  }
}

.backbtn {
  background-color: rgb(39, 103, 206);
  border: none;
  color: aliceblue;
  font-size: 20px;
  padding: 2%;
  width: 100px;
  height: 35px;
  margin-left: -90px;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .backbtn {
    margin-left: -130px;
    margin-top: -50px;
    font-size: 15px;
  }
}

.nextbtn {
  margin-left: 230px;
  background-color: rgb(39, 103, 206);
  border: none;
  color: aliceblue;
  font-size: 20px;
  margin-top: 25px;
  padding: 2%;
  width: 100px;
}
@media (max-width: 768px) {
  .nextbtn {
    margin-left: 20%;
    font-size: 15px;
    height: 35px;
  }
}

.button {
  display: flex;
}

.errorMessage {
  margin-left: 10%;
  margin-top: 2%;
}
