.fpOuterdiv {
  width: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  border: 1px solid #dadce0;
  border-radius: 11px;
  margin: auto;
  margin-top: 5%;
}

.fpFundooAlign {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.fpinput {
  width: 80%;
  padding: 1%;
}

.button {
  display: flex;
  padding: 2%;
}
.backbtn {
  margin-left: -10%;
  background-color: rgb(39, 103, 206);
  border-color: #dadce0;
  color: aliceblue;
  font-size: 20px;

}
.nextbtn {
  margin-left: 10%;
  background-color: rgb(39, 103, 206);
  border-color: #dadce0;
  color: aliceblue;
  font-size: 20px;
}

.errorMessage {
  margin-left: 10%;
  margin-top: 2%;
}
